
doctype html
html
  head
    title Bestelluebersicht
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      div() 
        include header.pug
      

    div(class='content container')
      h1 Bestellübersicht
      
      div(class='container')#kundendaten
        h3 Lieferadresse
        each k in kunde
          span #{k.vorname}
          br
          span #{k.nachname} 
          br 
          br

        each a in adresse
          span #{a.strasse}
          br
          span #{a.hausnr} 
          br
          span #{a.plz}  #{a.ort}

      div(class='container')#bestellung
        h3 Bestellung
        | Bestell-id: #{id} 
        br

        each pizza in pizzen
          span #{pizza.name} | 
          span #{pizza.preis} € 
          br
      
    button(class='button blue') kostenpflichtig bestellen    

      
