
doctype html
html
  head
    title Bestelluebersicht
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      div() 
        include header.pug
      

    div(class='content container')
      h1 Bestellübersicht
      
      div(class='container')#kundendaten
        -let vorname = kunde.vorname;
        | #{vorname}
        
        | #{kunde[0]}

      div(class='container')#bestellung
        | #{id} 
        br
        | #{pizzen}
        br
        | #{preis}
        br
        hr
        each pizza in pizzen
          span #{pizza.name}
          span #{pizza.preis} |€
      
    button(class='button blue') kostenpflichtig bestellen    

      
