
doctype html
html
  head
    title Bestelluebersicht
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      div() 
        include header.pug
      

    div(class='content container half center card')
      h1 Bestellübersicht
      
      div(class='container')#kundendaten
        h3 Lieferadresse
        | #{kunde.vorname}
        br
        | #{kunde.nachname}
        br
        br
        | #{adresse.strasse} #{adresse.hausnr}
        br
        | #{adresse.plz}  #{adresse.ort}


      div(class='container')#bestellung
        hr
        h3 Bestellung
        | Bestell-id: #{id} 
        br

        each pizza in pizzen
          span #{pizza.name} | 
          span #{pizza.preis} € 
          br

        br
        | Gesamtpreis: #{preis} €
      
      button(class='button blue') kostenpflichtig bestellen    

      
